
Administratif/

Articles/

Data/

devpython/

Missions/

Présentations/

Ressources/

Notebooks/.ipynb_checkpoints/

*.fits

Notebooks/__pycache__/

Notebooks/SNe studies/.ipynb_checkpoints/

Notebooks/Plots/.ipynb_checkpoints/

Notebooks/Drafts/.ipynb_checkpoints/

Notebooks/SNe studies/Drafts/.ipynb_checkpoints/

Notebooks/SNe studies/Plots/.ipynb_checkpoints/
